body{
    background-color: rgb(36, 36, 36);
    color: white;
  }
  #locContainer{
    position: fixed;
    top: 0;
    right:  0;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
  }
  #locContainer:hover{
    background-color: white;
    color: black;
  }
  #locContainer:active{
    background-color: black;
    color: white;
  }
  #posts{
        text-align: center;
    font-size: 20px;
    padding-top: 10px;
}
  .new img{
    height: 2px;
    width: 2px;
  }
  #upload,#postContent,#submit{
    display: inline-block;
    position: fixed;
    bottom: 0;
    right: 25%;
    margin: 30px;
  }
  #upload{
    z-index: 1;
  }
  #image{
  position: absolute;
  left: -9999px;
  }
  nav{
    position: fixed;
    top: 0;
    width: 100%;
  }
  input {
  width: 200px;
  padding: 10px;
  margin-bottom: 10px;
}
